<!DOCTYPE HTML>

<html>
	<head>
		<title>ABY </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body>

										<!-- Header -->
			<header id="header">
				
				<a href="index.html" class="logo">ABY</a>
				
			</header>

		

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<style>
					body {
					  background-image: url("static/banner.jpeg");
					  background-repeat: no-repeat;
					  background-position: center top;
					  background-size: 100% 50%;
					  background-attachment: scroll;
					}
					</style>
					</head>
					<body>
					
				
					<h1>Welcome to ABY </h1>
					</br>
					</br> 
				</br>
					<p>Aby is simple user interface that let you to dealing  with your </br>Arabic sentiments data to clean it until the resualt and Visualization </p>
					<ul class="actions">
						<li><a href="#two" class="button scrolly">Get Started</a></li>
					</ul>
				</div>
			</section>

		
	<!-- 		<div align="center" class="content" id="start">  </br> </br></br> </br></br> <h1>Steps </h1>	 </div> -->


				<!-- part One -->
				<section id="one" class="wrapper">
					<div class="inner flex flex-3">
						<div class="flex-item left">
							<div>
								<h3>step one </h3>
								<p>each step will have small describtion <br /> </p>
							</div>
							<div>
								<h3>step two</h3>
								<p>each step will have small describtion <br /> </p>
							</div>
						</div>
						<div class="flex-item image fit round">
							<img src="images/pic01.jpg" alt="" />
						</div>
						<div class="flex-item right">
							<div>
								<h3>step three</h3>
								<p>each step will have small describtion <br /> </p>
							</div>
							<div>
								<h3>step four</h3>
								<p>each step will have small describtion <br /> </p>
							</div>
						</div>
					</div>
				</section>



												<!--  part Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>upload your file here ! </h2>
					<figure>
					    <blockquote>
					        "here will be button to upload the file "
					    </blockquote>
					    
					</figure>
				</div>
			</section>


	</body>
</html>