<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aby</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input name="name" placeholder="name" type="text">
        <input name="student_id" placeholder="43*******" type="text">
        <button name="submit">submit</button>
        <h3>please choose the number of tweets</h3>
        <select name="tweet_num">
            <option disabled selected>1500</option>
            <option value="1000">1000</option>
            <option value="500">500</option>
        </select>
 
    </form>
</body>
</html>